<footer id="footer" class = "relative z-20 mt-10">
  <div class="flex justify-between">
    <h2 class = "text-2xl font-bold">FakeFT
    </h2>
    <div class="links flex flex-col text-xs font-semibold space-y-3">
      <span class = "">
        <%= link_to "Marketplace", all_path %>
      </span>
      <span class = "">
        <%= link_to "My Account", edit_user_registration_path %>
      </span>
    </div>
  </div>
  <div class="flex flex-col space-y-2">
    <span class = "text-[0.65rem] font-normal" style = "color:#DF3C6C;">The NFT Marketplace with everything for everyone</span>
    <span class = "text-[0.65rem] font-normal" >Copyright © 2022 FakeFT All Right Reserved</span>
    <span class = "text-[0.65rem] font-normal" >Terms of Use and Privacy Policy</span>
  </div>
</footer>
