<table class="outline outline-1 outline-grey2">
  <thead>
    <tr>
      <th class="border border-slate-600 ...">NFT Name</th>
      <th class="border border-slate-600 ...">Bought By</th>
      <th class="border border-slate-600 ...">Bought From</th>
      <th class="border border-slate-600 ...">Price</th>
      <th class="border border-slate-600 ...">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @transaction %>
    <tr>
      <td class="border border-slate-700 ...">Indiana</td>
      <td class="border border-slate-700 ...">Indianapolis</td>
    </tr>
    <tr>
      <td class="border border-slate-700 ...">Ohio</td>
      <td class="border border-slate-700 ...">Columbus</td>
    </tr>
    <tr>
      <td class="border border-slate-700 ...">Michigan</td>
      <td class="border border-slate-700 ...">Detroit</td>
    </tr>
  </tbody>
</table>
