<div>
  <p>
    <strong>Balance:</strong>
    <%= @wallet.balance %>
  </p>

  <p>
    <strong>Items sold:</strong>
    <%= @wallet.items_sold %>
  </p>

  <p>
    <strong>Earnings:</strong>
    <%= @wallet.earnings %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @wallet.user_id %>
  </p>

</div>
